* {
    padding: 0 0;
    margin: 0 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: InterUI,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Oxygen,Ubuntu,Cantarell,"Open Sans",sans-serif;;
    font-weight: 240;
    color: white;
}

#app {
    display: grid;
    grid-template-columns: 2fr 12fr 2fr;
    min-height: 100vh;
}

.wrapper {
    min-height: 100vh;
    grid-column: 2;
    grid-template-rows: 80px min-content auto 70px;
    grid-gap: 10px;
    display: grid;
}

body {
    background-color: #28262C;
}

header {
    background-color: rgb(56, 53, 63);
    line-height: 80px;
    padding-left: 10px;
}

footer {
    line-height: 70px;
}

.advertising {
    display: grid;
    grid-template-columns: 5fr 4fr;
    grid-gap: 20px;
}

.advertising div {
    padding: 20px 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    line-height: 40px;
}

.login-form input {
    line-height: 30px;
    font-size: 22px;
    outline: none;
    margin-top: 8px;
    margin-bottom: 8px;
    color: black;
    padding: 7px 14px;
}

.row, .advertising .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0;
}

.btn {
    padding: 14px 40px;
    border: 1px solid grey;
    color: grey;
    border-radius: 4px;
    font-size: 22px;
    background-color: transparent;
    cursor: pointer;
    min-width: 160px;
    transition: all ease-in .2s;
}

.btn:focus {
    outline: none;
}

.btn-login {
    border-color: #04E762;
    color: #04E762;
}

.btn-login:hover {
    color: black;
    background-color: #04E762;
}

.btn-register {
    border-color: #7678ED;
    color: black;
    background-color: #7678ED;
}

.btn-register:hover {
    color: #7678ED;
    background-color: transparent;
}

.login-form {
    background-color: rgb(45, 42, 49);
}

.login-form h3 {
    line-height: 50px;
    font-size: 34px;
}

.login-form h4 {
    color: rgb(172, 172, 172);
}

.login-form h5 {
    color: rgb(192, 192, 192);
    line-height: 28px;
    font-size: 24px;
}

.huge {
    font-size: 72px;
    font-weight: 350;
}

.small {
    color: rgb(206, 206, 206);
    font-size: 30px;
}

.why {
    /* background-color: #7678ED; */
    color: white;
}

.profile {
    padding: 0px 0px;
    font-size: 1.2em;
    line-height: 2.2em;
}

.profileImage {
    width: 100%;
}

.overwrapper {
    padding: 10px 10px;
}

.profileImagePadder {
    padding: 20px 20px; 
    border: 8px solid #7678ED;
}

.profileWrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.profile .login {
    font-size: 28px;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;
}

.content {
    display: grid;
    grid-template-rows: 270px min-content;
    grid-row-gap: 20px;
}

.rooms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.roomCard {
    min-height: 240px;
    background-color: rgb(56, 53, 63);
}

.roomName {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: rgb(45, 42, 49);
}

.low-load .roomName {
    background-color: rgb(44, 80, 59);
}

.middle-load .roomName {
    background-color: rgb(148, 111, 2);
}

.high-load .roomName {
    background-color: rgb(218, 69, 0);
    background-color: red;
}

.roomInfo {
    padding: 10px 20px;
}

.roomLoad {
    text-align: center;
    font-size: 30px;
    line-height: 60px;
}

.circle {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #7678ED;
}