h1 {
	font-size: 4em;
	color: #C6C7C4;
	text-align: center
	/*line-height: 1.2*/
	font-weight: 300;
	text-transform: uppercase;
}

h2 {
	font:140px/normal 'Open Sans';
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	color: #A2999E;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	height: 100vh;
	background: #151519;
}

input {
	box-shadow: none;

	font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
	font-weight: 700;
	font-size: 4em;
}

input:focus {
	outline-offset: -2px;
}

input.room {
	border: .125rem solid #ccc;
	border-radius: 0;
	-webkit-appearance: none;

/*	height: 50px;
	line-height: 50px;*/
	width: 6em;
	color: #333;
	text-align: center;
	padding-bottom: 18px;
	padding-top: 18px;


	box-sizing: border-box;
}

input.room::placeholder {
	color: #D3D5D4;
}

input.room:focus {
	box-shadow: none;
	font.size: 3em;
	border: .125rem solid #333;
}

input:focus {
	outline: none;
}

button {
	color: #fff;
	background-color: #151519;
	min-width: 100px;
    /*height: 50px;*/
    font-weight: 700;
    font-size: 3em;
	cursor: pointer;
	margin-top: 20px;
	padding-bottom: 8px;
	padding-top: 8px;
	transition: all 0.3s;
	outline: none;
}

button.leave {
	font-size: 1em;
	color: #C6C7C4;
	background-color: #151519;
	border-color: #151519;
}

button:hover {
	color: #58A4B0;
}

button:hover:after, button:active:after {
	width: 100%;
}


/*button {
	background: none;
	color: #ccc;
	width: 240px;
	height
}

button:focus {
	outline: none;
}

button:before {
	content: '';
	display: block;
}*/

div.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hidden {
	display: none;
}

div.pos {
	width: 75rem
	max-width: calc(100% - 3rem)
	font: inherit;
	vertical-align: baseline;
	box-sizing: inherit;
	display: block;
	text-align: center;
}